<div id="nav-bar">
    <div id="logo">
      <a href="/"><h1>Chegg</h1></a>
    </div>
    <div id="nav-menu">
      <ul>
        <li>
          <a href="/books">Books <i class="fa-sharp fa-solid fa-caret-down"></i></a>
        </li>
        <li>
          <a href="/study">Study <i class="fa-sharp fa-solid fa-caret-down"></i></a>
        </li>
        <li>
          <a href="/career"
            >Career <i class="fa-sharp fa-solid fa-caret-down"></i
          ></a>
        </li>
        <li>
          <a href="/life">Life <i class="fa-sharp fa-solid fa-caret-down"></i></a>
        </li>
      </ul>
    </div>
    <div id="signinmenu">
      <ul>
        <li><a href="">For educators</a>|</li>
        <li><a href="">Help</a>|</li>
        <li><a href="">Sign in</a></li>
      </ul>
    </div>
  </div>