<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chegg - Get 24/7 Homework Help | Rent Textbooks</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('./partials/top-menu') %> 
    <div id="belownav-bar">
      <div id="searchbar">
        <input type="text" placeholder="Find Books solutions and more..." />
      </div>
      <div id="searchbtn"><button>Search</button></div>
    </div>

    <div id="container">
      <img src="./images/image1.jpg" alt="image1" width="100%" />
      <div id="container-img-text">
        <h4>24/7 COURSE HELP</h4>
        <h1>Learn with Chegg</h1>
        <p>
          From first day to finals, get homework help, exam prep & writing
          support—tailored to your courses.
        </p>
        <button class="button">Get started</button>
      </div>
    </div>
    <div id="container2">
      <h1>Here for every moment</h1>
      <div class="grid-container">
        <div class="grid-item">
          <img src="./images/img2.png" alt="img2" />
          <h2>Homework help</h2>
          <p>
            Study with 55+ million step-by-step explanations, Expert Q&As & math
            support.
          </p>
          <div class="link">
            <a>Learn More</a>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
        <div class="grid-item">
          <img src="./images/img3.png" alt="img3" />
          <h2>Exam prep & practice</h2>
          <p>
            Figure out what you don’t know & get ready for test day with
            practice exams.1
          </p>
          <div class="link">
            <a>Learn More</a>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
        <div class="grid-item">
          <img src="./images/img4.png" alt="img4" />
          <h2>Understand a topic</h2>
          <p>
            Simplify the toughest concepts with digestible topic breakdowns &
            videos.
          </p>
          <div class="link">
            <a>Learn More</a>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
        <div class="grid-item">
          <img src="./images/img5.png" alt="img5" />
          <h2>Writing & citations</h2>
          <p>
            Strengthen your writing with plagiarism checks, expert proofreading
            & instant citations.
          </p>
          <div class="link">
            <a>Learn More</a>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
      </div>
      <h2>Prices starting at $14.95/mo., cancel anytime</h2>
      <button class="button">Sign Up</button>
    </div>
    <div id="container3">
      <img src="./images/img6.png" alt="image1" width="100%" />
      <div id="container3-img-text">
        <h1>Introducing verified study materials</h1>
        <p>
          Go right to the source with instructor-made practice exams, study
          guides, lecture notes, and more.
        </p>
        <button class="button">Get started</button>
      </div>
    </div>
    <div id="container3-ending">
      <h1>
        94% of Chegg customers say they get better grades when they use Chegg to
        understand their coursework
      </h1>
    </div>
    <div id="container4">
      <img src="./images/img7.jpg" alt="image1" width="100%" />
      <div id="container4-img-text">
        <h1>Save up to 90% off textbooks</h1>
        <p>The smartest way to rent or buy textbooks. Period.</p>
        <button class="button">Find your books</button>
      </div>
    </div>
    <div id="container5">
      <h1>Study time, crunch time, anytime</h1>
      <p>
        Explore some of our best study tools & get 24/7 support for your
        assignments
      </p>
      <div class="grid-container1">
        <div class="grid-item1">
          <img src="./images/img8.png" alt="img2" />
          <h2>Test prep, simplified</h2>
          <p>
            Check your knowledge with practice problems, quizzes, and more.1
          </p>
          <div class="link">
            <a>Learn More</a>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
        <div class="grid-item1">
          <img src="./images/img9.png" alt="img3" />
          <h2>Experts by your side</h2>
          <p>
            Have millions of explanations at your fingertips. Plus, snap a pic
            to get an expert answer.
          </p>
          <div class="link">
            <a>Learn More</a>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
        <div class="grid-item1">
          <img src="./images/img10.png" alt="img4" />
          <h2>Professional proofreading</h2>
          <p>
            Receive detailed comments from real writing experts on your
            assignment’s thesis, style, and more—within 48 hours.
          </p>
          <div class="link">
            <a>Learn More</a>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
      </div>
      <h2>Prices starting at $14.95/mo., cancel anytime</h2>
      <button class="button">Sign Up</button>
    </div>

    <div id="class-container">
      <div class="box">
        <img src="./images/img11.jpg" alt="image1" width="100%" height="100%" />
        <div class="box-position">
          <h1>Make your dream job a reality</h1>
          <p>Grow your skills and find opportunities.</p>
          <div class="link2">
            <a>Explore Careers & Internships </a>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
      </div>
      <div class="box">
        <img src="./images/img12.jpg" alt="image1" width="100%" />
        <div class="box-position">
          <h1>Balance more than just classes</h1>
          <p>Navigate life and money matters.</p>
          <div class="link2">
            <a>Explore Life</a>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>

    <div id="abovefooter">
      <ol type="1">
        <li>Not available for all subjects.</li>
        <li>
          Chegg survey fielded between April 23-April 25, 2021 among customers
          who used Chegg Study and Chegg Study Pack in Q1 2020 and Q2 2021.
          Respondent base (n=745) among approximately 144,000 invites.
          Individual results may vary. Survey respondents (up to 500,000
          respondents total) were entered into a drawing to win 1 of 10 $500
          e-gift cards
        </li>
        <li>
          Savings calculations are off the list price of physical textbooks.
        </li>
      </ol>
    </div>
    <hr />
  </body>
</html>
